# the following folder will not be tracked.

# following files will be ignored.
vignettes/*_cache/*
vignettes/*.html
.Rhistory
.swp
.Rproj.user
logs.sh
.gitignore
.Rbuildignore
docs/articles/SPRthis_files/*

docs
